  {{# options }}
  <li class="list-group-item">
    <input class="form-check-input me-1 hola" type="checkbox" checked="true" id="{{value}}" name="{{value}}"/>
    <label class="form-check-label" for="{{value}}">{{text}}</label>
  </li>
  {{/ options }}
