<nav id="navi" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">UNÁN-León</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{# links }}
        <li class="nav-item">
          <a class="nav-link" href="{{ link }}">{{ label }}</a>
        </li>
        {{/ links }}
      </ul>
    </div>
    <a class="navbar-brand" href="">Cerrar cessión</a>
  </div>
</nav>