<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Unan app | Nuevo</title>
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="icon" href="/public/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <!-- to jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0-beta/jquery.min.js"
    integrity="sha512-qFOQ9YFAeGj1gDOuUD61g3D+tLDv3u1ECYWqT82WQoaWrOhAY+5mRMTTVsQdWutbA5FORCnkEPEgU0OF8IzGvA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- to jquery validation -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/localization/messages_es.min.js"
    integrity="sha512-1a6fjZnSCNfMZYZnW1L2J8NEsb68EFa/Qa+GJVwwarCkZyg6Mtv4RPeLiwXbC6knSfOU5qqQ2xkDy5XR423EPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- to mustache -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"
    integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- to bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- my scripts -->
  <script src="/public/js/components/nav.js"></script>
  <script src="/public/js/components/form.js"></script>
  <script src="/public/js/create.js"></script>
  <!-- this is a page -->
  <div id="nav"></div>
  <div class="container-lg pt-5 ">
    <h1>Nuevo registro</h1>
    <div class="container-lg d-flex flex-row justify-content-between align-items-center">
      <form class="row g-3 mt-3" id="form">
        <div class="col-md-9">
          <label for="facultaty" class="form-label">Facultad</label>
          <input type="text" class="form-control" id="facultaty" name="facultaty" placeholder="000a000a000" required>
        </div>
        <div class="col-md-3">
          <div id="select1"></div>
        </div>
        <div class="col-md-4">
          <div id="select2"></div>
        </div>
        <div class="col-4">
          <div id="select3"></div>
        </div>
        <div class="col-4">
          <label for="amount" class="form-label">Monto</label>
          <input type="number" class="form-control" id="amount" name="amount" placeholder="0000" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Crear</button>
          <a href="/" class="btn btn-danger">Cancelar</a>
        </div>
      </form>
    </div>
</body>

</html>